

body {

  background: url(images/out.jpeg) no-repeat center center fixed; 
  background-size: cover;

  color: #FFA5D2;

}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px grey;
  border: 1px dashed black;
}

h2 {
  text-shadow: 1px 1px grey;
  border: 1px dashed black;
}

p {
  text-shadow: 1px 1px grey;
  border: 1px dashed black;
}

/*

#game {
  display: inline-block;
  background-color: white;
  width: 38%;
  height: 200px;
  border: 1px dotted black;
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
}

*/

div {
  border: 1px dashed black;
}

#game {
  border: 1px dashed black;
}

#game div {

  float: left;
  width: 20%;
  height: 200px;
  background-color: #FFA5D2;
  margin-right: 2%;
  color: blue;
  font-size: 2em;
}

#game div.flipped {
  background-color: white;
}

#game div.pair {
  /* disable click */
}

.active {
  color: white;
}

