/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

@font-face {
  font-family: PeppaPig;
  src: local('Peppa Pig Medium'),
  url(peppa-pig-font.ttf);
}

body {

  background: url(images/out.jpeg) no-repeat center center fixed; 
  background-size: cover;
  font-family: "PeppaPig", sans-serif;
  color: #FFA5D2;

}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

header {

}

h1 {
  text-align: center;
  text-shadow: 1px 1px grey;
  font-size: 2.5em;
}

p {
  text-shadow: 1px 1px grey;
  font-size: 1.2em;
}

/*

#game {
  display: inline-block;
  background-color: white;
  width: 38%;
  height: 200px;
  border: 1px dotted black;
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
}

*/

button {
  background: #ffa5d2;
  color: white;
  height: 50px;
  width: 20%;
  border-radius: 10px;
  margin: 0 9% 0 25%;
  font-size: 1.05em;
  border: 2px solid white;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px grey;
  
}

/*

button {
  background: #ffa5d2;
  background-image: -webkit-linear-gradient(top, #ffa5d2, #ffa5d2);
  background-image: -moz-linear-gradient(top, #ffa5d2, #ffa5d2);
  background-image: -ms-linear-gradient(top, #ffa5d2, #ffa5d2);
  background-image: -o-linear-gradient(top, #ffa5d2, #ffa5d2);
  background-image: linear-gradient(to bottom, #ffa5d2, #ffa5d2);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

*/

button:hover {
  background: #e00074;
  text-decoration: none;
}

#reset-button {
  margin-left: 0;
  margin-right: 25%;
}

#game {
  padding: 30px 5%;
  padding-left: 0;
}

#game div {
  display: inline-block;
  width: 20%;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  margin-right: 2%;
  color: blue;
  font-size: 2em;
  margin: auto;
  margin-bottom: 20px;
  margin-left: 5%;
  cursor: pointer;
}

#game div img {
  width: 100%;
  height: 250px;
}

.active {
  color: white;
  background-color: rgba(253, 253, 150, 0.8);
  border: 1px solid white;
  border-radius: 5px;
}

#winner-div {
  text-align: center;
  font-size: 1.4em;
}

#players-div {
  font-size: 1.05em;
  padding: 0;
}

#player-one-div {
  display: inline-block;
  width: 25%;
  text-align: center;
  margin: 10px 39.5% 10px 5%;
  padding: 0;
  
}

#player-one-div p {
  display: inline-block;
}

#player-one {
  width: 35%;
  margin-left: 10%;
  margin-right: 10%;
}

#player-one-score {
  width: 20%;
  margin-left: 0;
  margin-right: 20%;
}

#player-two-div {
  display: inline-block;
  width: 25%;
  text-align: center;
  margin-left: 0%;
  margin-right: 5%;
  padding: 0;
  
}

#player-two-div p {
  display: inline-block;
}

#player-two {
  width: 35%;
  margin-left: 20%;
  margin-right: 10%;
}

#player-two-score {
  width: 20%;
  margin-left: 0;
  margin-right: 10;
}

.buttons {
  margin: 20px 0;

}

button:focus {outline:0;}

@media (max-width: 500px) {

      .buttons button {
        /* border: 1px dashed black; */
        display: block;
        margin: 0 auto;
      }

      #players-div p {
        display: block;
        margin-left: 5%;
        margin-right: 0;
      }

      #player-one-div {
        width: 100%;
        /* border: 1px dashed black; */
        margin: 0 auto;
      }

      #player-two-div {
        width: 100%;
        /* border: 1px dashed black; */
        margin: 0 auto;
      }

      #game div {
        width: 40%;
      }
}

